@import url(https://fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(https://fonts.googleapis.com/css?family=Oranienbaum);
h1 {
  color: #9e4434; 
  font-family: 'IM Fell English SC';
  border: 1px solid #F5E9CD;
  text-align: center;
  background-color: #F5E9CD;
}
body {
  background-color: #F5E9CD;
}

h1#site-title {
  font-size: 50px;
  letter-spacing: 3px; 
  margin-top: 5px; 
  margin-bottom: .125em; 
  text-align: center; 
}

h1#article-title {
  font-size: 45px;
  letter-spacing: 2px;
} 

h2 {
  font-size: 35px;
  letter-spacing: 1.5px; 
  text-align: center; 
  color: #960000;
}

p {
  color: #000000;
  background: #F5E9CD;
  font-family: 'Oranienbaum';
  text-align: center;
  font-size: 21px; 
}

figure {
  border: 2px solid #072e0b;
  background: white;
  border-width: 80px; 
  padding-right: 20px; 
  padding-left: 20px; 
  padding-top: 20px; 
  padding-bottom: 20px; 
  color: black;
  text-align: center;
}

figure img {
  width: 100%; 
}

figure.main-image {
  background: white; 
  border-color: #263819;
  border-width: 5px; 
  color: white; 
  text-align: right; 
}

figure.section-image {
  float: right; 
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  max-width:350px;  
}

p img {
  float: left; 
  max-width: 800%; 
  margin-left: 20px; 
  margin-bottom: 32px; 
}

nav ul {
 background-color: black; 
 display: flex; 
 justify-content: space-evenly; 
 list-style: none; 
 padding-left: 0; 
 border: 2px solid #965c15; 
 text-align: center;
}

nav ul li {
 }

nav ul li a {
  color: #ffffff;
  text-decoration: none; 
  padding: 8px; 
  border-bottom: 1px; 
  display: block; 
}

nav ul li a:hover {
  background-color: #c78528;
}

nav ul li:last-child a {
border-bottom: none; 
}
  
